# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
venv/
env/

# Testing
.pytest_cache
.coverage

# IDEs
.vscode
.idea

# Environment
.env

# Documentation
README.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Other
.DS_Store
